
.circle{
    position: absolute;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    animation: grow 5s forwards;
    
}

.circle::before,
.circle::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.circle::before{
    top: -15px;
    left: 0;
}

.circle::after{
    left: -15px;
    top: 0;
}

@keyframes grow {
    0% {
        transform: rotate(-45deg) scale(1);
        opacity: 0.6;
    }
    50% {
        transform: rotate(195deg) scale(3);
        opacity: 1;
    }
    100% {
        transform: rotate(405deg) scale(1);
        opacity: 0.1;
    }
}
